/*@import url("./google.css");*/

body {
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    -webkit-font-smoothing: antialiased;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    color: #848484;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    font-weight: 600;
}

.no-padding {
    padding: 0 !important;
}

.inline-block {
    display: inline-block;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

a {
    transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: #28ABE3;
}

.btn-main {
    background: #28ABE3;
    display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 23px;
}

.btn-main:hover {
    color: #fff;
}

.btn-transparent {
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
    border-radius: 40px;
}

.btn-transparent:hover {
    color: #fff;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.section {
    padding: 50px 0;
}

.btn:focus {
    color: #ddd;
}

#home {
    position: relative;
}

.section {
    padding: 50px 0;
}

.section-sm {
    padding: 70px 0;
}

.section-xs {
    padding: 40px 0;
}

#preloader {
    background: #fff;
    height: 100%;
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999999999;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

.parallax-section {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preloader {
    left: 48%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

.preloader span {
    position: absolute;
    display: block;
    bottom: 0;
    width: 9px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    -webkit-animation: preloader 2s infinite ease-in-out;
    animation: preloader 2s infinite ease-in-out;
}

.preloader span:nth-child(2) {
    left: -22px;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.preloader span:nth-child(3) {
    left: -11px;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}

.preloader span:nth-child(4) {
    left: 0px;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

.preloader span:nth-child(5) {
    left: 11px;
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

.preloader span:nth-child(6) {
    left: 22px;
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

@-webkit-keyframes preloader {
    0% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: rgba(0, 0, 0, 0.1);
    }
    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #28ABE3;
    }
    50%, 100% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: rgba(0, 0, 0, 0.1);
    }
}

@keyframes preloader {
    0% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #fff;
    }
    25% {
        height: 30px;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        background: #3498db;
    }
    50%, 100% {
        height: 5px;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        background: #fff;
    }
}

.title {
    padding-bottom: 0px;
    overflow: hidden;
}

.one {
    font-size: 24px;
    color: #333333;
    letter-spacing: 0;
    text-align: justify;
    line-height: 32px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.case-one {
    font-size: 20px;
    color: #333333;
    letter-spacing: 0;
    text-align: justify;
    line-height: 32px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.two {
    padding-bottom: 10px;
    font-size: 14px;
    color: #28ABE3;
    letter-spacing: 0;
    line-height: 14px;
}

.three {
    padding-bottom: 10px;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: justify;
    line-height: 22px;
    margin-bottom: 10px;
}

.three.solution {
    color: #333333;
    margin: 10px 0;
}

.title h2 {
    font-weight: 600;
    font-size: 35px;
    color: #232323;
}

.title p {
    color: #848484;
    width: 50%;
    margin: 0 auto;
}

.title.title-white h2 {
    color: #fff;
}

.border {
    height: 2px;
    margin: 20px auto 20px;
    position: relative;
    width: 80px;
    background: #28ABE3;
}

.border.white {
    height: 2px;
    margin: 20px auto 20px;
    position: relative;
    width: 80px;
    background: #FFFFFF !important;
}

.bg-gray {
    background: #f9f9f9;
}

.header-bradcrumb {
    background: transparent;
}

.header-bradcrumb a, .header-bradcrumb .active {
    color: #cfcfcf;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
}

.header-bradcrumb a:hover {
    color: #28ABE3;
}

.colors-switcher {
    width: 100px;
    padding: 20px 18px 14px 20px;
    position: fixed;
    z-index: 1993;
    top: 90px;
    right: 0;
    background-color: #fff;
    border-radius: 2px 0 0 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;
}

.colors-switcher #show-panel {
    position: absolute;
    left: -38px;
    top: 15px;
    width: 38px;
    height: 38px;
    z-index: 1992;
    display: block;
    background-color: #fff;
    border-radius: 2px 0 0 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    cursor: pointer;
}

.colors-switcher #show-panel i {
    color: #3D3D3D;
    font-size: 20px;
    line-height: 38px;
    margin-left: 10px;
}

.colors-list {
    margin: 0;
    padding: 0;
}

.colors-list li {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 4px;
}

.colors-list li a {
    text-align: center;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    cursor: pointer;
}

.colors-switcher .colors-list a.light-red {
    background-color: #FF432E;
}

.colors-switcher .colors-list li a:hover {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}

.colors-switcher .colors-list a.light-red {
    background-color: #FF432E;
}

.colors-switcher .colors-list a.blue {
    background-color: #28ABE3;
}

.colors-switcher .colors-list a.light-blue {
    background-color: #69D2E7;
}

.colors-switcher .colors-list a.green {
    background-color: #5BB12F;
}

.colors-switcher .colors-list a.light-green {
    background-color: #BCCF02;
}

.colors-switcher .colors-list a.yellow {
    background-color: #FED136;
}

.slick-slide {
    outline: none;
}

.logo {
    margin-top: 10px;
    display: inline-block;
}

.single-page-header {
    background-image: url("../images/about/about-header.jpg");
    background-size: cover;
    padding: 140px 0 70px;
    text-align: center;
    color: #fff;
    position: relative;
}

.single-page-header:before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/*=================================================================
  Navigation
==================================================================*/
.navigation {
    transition: .3s all;
}

.navigation .logo-default {
    display: none;
}

.navigation .navbar-nav > li.active a {
    color: #28ABE3;
}

navigation.navbar.navbar-fixed-top .header-top {

}

.navigation .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    padding: 20px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .2s ease-in-out 0s;
}

.navigation .navbar-nav > li > a:hover, .navigation .navbar-nav > li > a:active, .navigation .navbar-nav > li > a:focus {
    background: none;
    color: #28ABE3;
}

.navigation .nav .open > a {
    background: none;
}

.navigation .dropdown {
    padding: 0;
}

.navigation .dropdown .dropdown-menu {
    border-radius: 0;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    background-color: #000;
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s ease-in-out;
    transition: transform 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s;
}

.navigation .dropdown .dropdown-menu li a {
    padding: 8px 15px;
    color: #9d9d9d;
}

.navigation .dropdown .dropdown-menu li a:hover {
    padding-left: 20px;
    background: transparent;
    color: #fff;
}

.navigation .dropdown:hover .dropdown-menu {
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s ease-in-out;
    transition: transform 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}

.sticky-header {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    background: #fff !important;
}

.sticky-header .navbar-nav > li > a {
    color: #000;
}

.sticky-header .logo-white {
    display: none;
}

.sticky-header .logo-default {
    display: block;
}

.navbar-brand {
    height: auto;
    padding: 8px 0;
}

.navbar-brand h1 {
    margin: 0;
}

.hero-area {
    background-image: url("../images/home/banner.png");
    background-size: cover;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-area-case {
    background-image: url("../images/case/banner.png");
    background-size: cover;
    height: 60vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-area-solution {
    background-image: url("../images/solution/banner.png");
    background-size: cover;
    height: 60vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.hero-area-solution-case {
    background-image: url("../images/solution/banner-case.png");
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.hero-area-solution:before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.hero-area-case:before {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.hero-area.about {
    background-image: url("../images/about/banner.png");
    background-size: cover;
    height: 60vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-area.product {
    background-image: url("../images/product/banner.png");
    background-size: cover;
    height: 60vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-area.purchase {
    background-image: url("../images/purchase/purchaseBanner.png");
    background-size: cover;
    height: 60vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-area:before {
    content: '';
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-area .block {
    color: #fff;
}

.hero-area .block h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero-area .block p {
    color: #fff;
    width: 50%;
    margin-bottom: 20px;
}

.hero-area .block .btn-main {
    margin-right: 8px;
}

.hero-area .block .btn-main:hover {
    opacity: .8;
}

.hero-area-video {
    height: 100vh;
    position: inherit !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero-area-video .block {
    color: #fff;
    text-align: center;
}

.hero-area-video .block h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-area-video .block p {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.hero-area-video .block .btn-main {
    margin-top: 20px;
}

.dark-bg {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

/*=================================================================
  About us section
==================================================================*/
.about {
    padding: 100px 0;
    background: #fff;
}

.about.manage {
    background-image: url("../images/product/manage_banner.png");
    padding-bottom: 50px;
    padding-top: 50px;
}

.about.devops {
    background-image: url("../images/product/devops_banner.png");
    padding-bottom: 50px;
    padding-top: 50px;
}

.about.bigscreen {
    background-image: url("../images/product/bigscreen_banner.png");
    padding-bottom: 50px;
    padding-top: 50px;
}

.about .btn-about {
    background: #28ABE3;
}

.about h4 {
    margin-top: 30px;
}

.about .feature-list {
    margin-top: 10px;
}

.about .feature-list li {
    width: 48%;
    display: inline-block;
    color: #666;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    margin-bottom: 5px;
    font-weight: 600;
}

.about .feature-list li i {
    color: #28ABE3;
    margin-right: 8px;
}

/*=================================================================
  About us 2 section
==================================================================*/
.about-2 {
    background: #F7F7F7;
}

.about-2 .checklist {
    padding-left: 30px;
}

.about-2 .checklist li {
    position: relative;
    margin-bottom: 15px;
    font-size: 16px;
    color: #777;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
}

.about-2 .checklist li:before {
    position: absolute;
    margin-right: 12px;
    margin-left: -45px;
    content: "\f375";
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    opacity: 1;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 20px;
}

/*=================================================================
 Call To Action 1
==================================================================*/
.call-to-action {
    padding: 100px 0;
    background: url("../images/call-to-action/call-to-action-bg-2.jpg");
    background-size: cover;
    color: #fff;
}

.call-to-action h2 {
    line-height: 1.5;
}

.call-to-action p {
    color: #fff;
}

.call-to-action .btn-main {
    margin-top: 20px;
}

/*=================================================================
 Call To Action 2
==================================================================*/
.call-to-action-2 {
    padding: 100px 0;
    background-image: url("../images/call-to-action/call-to-action-bg.jpg");
    background-size: cover;
    color: #fff;
}

.call-to-action-2 h2 {
    line-height: 1.5;
}

.call-to-action-2 p {
    color: #fff;
}

.call-to-action-2 .btn-main {
    margin-top: 20px;
}

/*=================================================================
  Contact
  ==================================================================*/
.contact-us {
    padding: 100px 0 50px 0;
}

.contact-form {
    margin-bottom: 40px;
}

.contact-form .form-control {
    background-color: transparent;
    border: 1px solid #dedede;
    box-shadow: none;
    height: 45px !important;
    color: #0c0c0c;
    height: 38px;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    font-size: 14px;
    border-radius: 0;
}

.contact-form input:hover,
.contact-form textarea:hover,
.contact-form #contact-submit:hover {
    border-color: #28ABE3;
}

.contact-form #contact-submit {
    border: none;
    padding: 15px 0;
    width: 100%;
    margin: 0;
    background: #28ABE3;
    color: #fff;
    border-radius: 0;
}

.contact-form textarea.form-control {
    padding: 10px;
    height: 120px !important;
    outline: none;
}

.contact-details .contact-short-info {
    margin-top: 15px;
}

.contact-details .contact-short-info li {
    margin-bottom: 6px;
}

.social-icon {
    margin-top: 20px;
}

.social-icon ul li {
    display: inline-block;
    margin-right: 10px;
}

.social-icon ul li a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #dedede;
    text-align: center;
}

.social-icon ul li a:hover {
    background: #28ABE3;
    color: #fff;
    border: 1px solid #28ABE3;
}

.social-icon ul li a:hover i {
    color: #fff;
}

.social-icon ul li a i {
    color: #55606a;
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    margin: 0;
}

.error {
    display: none;
    padding: 10px;
    color: #D8000C;
    border-radius: 4px;
    font-size: 13px;
    background-color: #FFBABA;
}

.success {
    background-color: #6cb670;
    border-radius: 4px;
    color: #fff;
    display: none;
    font-size: 13px;
    padding: 10px;
}

.map {
    position: relative;
}

.map #map_canvas {
    height: 400px;
    color: white;
}

/*=================================================================
  Item counter section
==================================================================*/
.counters-item {
    padding-bottom: 30px;
    color: #444;
    position: relative;
}

.counters-item.kill-border:before {
    background: none;
}

.counters-item.kill-border.a-quarter-border {
    background: #FFF;
    text-align: center;
    width: 100%;
    height: 100%;
}

.a-quarter-border .quarter-icon {
    margin: 40px 0 0 0;
    width: 72px;
    height: 72px;
    text-align: center;
    color: #00ADEE;
}

.a-quarter-border .title-item {
    color: #333;
    font-size: 24px;
    character: 0px;
}

.a-quarter-border .detail-item {
    color: #333;
    font-size: 14px;
    character: 0px;
}

.counters-item:before {
    background: #e5e5e5;
    content: "";
    margin-top: -27.5px;
    height: 55px;
    width: 1px;
    position: absolute;
    right: -15px;
    top: 50%;
}

.counters-item > div {
    margin: 6px 0;
}

.counters-item span {
    display: inline;
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
}

.counters-item i {
    font-size: 40px;
    display: inline-block;
    color: #28ABE3;
}

.counters-item h3 {
    font-size: 18px;
    margin: 0;
    color: #666;
}

/*=================================================================
  purchase table
==================================================================*/
.subscription-div table tr th {
    background-color: #4A4A4A;
    color: #FFF;
    font-face: PingFangSC-Medium;
    font-size: 16px;
    padding: 14px 0 14px 10px;
    border: 1px solid #EEE;
}

.subscription-table {
    width: 100%;
    height: 100%;
}

.subscription-table td {
    border: 1px solid #EEE;
    padding: 14px 0 14px 10px;
    font-size: 14px;
}

.subscription-table td:first-child {
    background-color: #0076BA;
    color: #FFF;
}

.subscription-table td:not(first-child) {
    background-color: #F6F6F6;
    color: #666;
}

.subscription-level-table th {
    font-face: PingFangSC-Medium;
    font-size: 16px;
    padding: 15px 0 15px 10px;
    text-align: center;
}

.first-td-background-style {
    background-color: #FFF;
    color: #666;
    font-face: PingFangSC-Light;
    font-size: 14px;
    padding: 15px 0px 15px 15px;
}

.second-td-background-style {
    background-color: #f9f9f9;
    color: #666;
    font-face: PingFangSC-Light;
    font-size: 14px;
    padding: 15px 15px 15px 15px;
}

.third-td-background-style {
    background-color: #f1f1f1;
    color: #666;
    font-face: PingFangSC-Light;
    font-size: 14px;
    padding: 15px 15px 15px 15px;
}

.subscription-level-tr-border td, .subscription-level-tr-border th {
    border: 1px solid #CCC;
}

.first-td-background-style-special {
    background-color: #FFF;
    color: #666;
    font-face: PingFangSC-Light;
    font-size: 14px;
    padding: 15px 0px 15px 15px;
}

.second-td-background-style-special {
    background-color: #f9f9f9;
    color: #666;
    font-face: PingFangSC-Light;
    font-size: 14px;
    padding: 15px 15px 15px 15px;
}

/*=================================================================
  Pricing section
==================================================================*/
.pricing-table {
    padding: 100px 0;
    background: url("../images/pricing-bg.jpg");
    position: relative;
}

.pricing-table .title p {
    color: #fff;
}

.pricing-table:before {
    background: rgba(0, 0, 0, 0.62);
    position: absolute;
    z-index: 999;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pricing-table .container {
    position: relative;
    z-index: 999;
}

.pricing-table .pricing-item {
    padding: 40px 55px 65px;
    background: #fff;
    margin-bottom: 20px;
}

.pricing-table .pricing-item a.btn-main {
    text-transform: uppercase;
    margin-top: 20px;
}

.pricing-table .pricing-item li {
    font-weight: 400;
    padding: 10px 0;
    color: #666;
}

.pricing-table .pricing-item li i {
    margin-right: 6px;
}

.pricing-table .price-title {
    padding: 30px 0 20px;
}

.pricing-table .price-title > h3 {
    font-weight: 700;
    margin: 0 0 5px;
    font-size: 15px;
    text-transform: uppercase;
}

.pricing-table .price-title > p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 5px;
}

.pricing-table .price-title .value {
    color: #28ABE3;
    font-size: 50px;
    padding: 10px 0;
}

/*=================================================================
  Portfolio section
==================================================================*/
.portfolio-filter {
    margin-bottom: 40px;
    text-align: center;
}

.portfolio-filter button {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 20px;
    text-transform: uppercase;
    background: #28ABE3;
    border: none;
    color: #fff;
    outline: none;
}

.portfolio-filter button.active {
    background: #28ABE3;
    color: #fff;
    border-radius: 50px;
}

.portfolio-block {
    position: relative;
    margin-bottom: 30px;
}

.portfolio-block:before {
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
}

.portfolio-block:hover:before {
    opacity: 1;
}

.portfolio-block:hover .caption h4 {
    top: 45%;
}

.portfolio-block:hover .caption {
    opacity: 1;
    top: 55%;
}

.portfolio-block .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.portfolio-block .caption h4 {
    font-size: 16px;
}

.portfolio-block .caption h4 a {
    color: #fff;
}

.portfolio-block .caption .search-icon {
    background: #28ABE3;
    color: #fff;
    display: inline-block;
    padding: 4px 13px;
    font-size: 25px;
    border-radius: 30px;
}

/*=================================================================
  Services section
==================================================================*/
.services {
    padding: 100px 0 130px;
}

.services .service-block {
    padding: 50px 35px 40px 35px;
}

.services .service-block.color-bg {
    background: #28ABE3;
    color: #fff;
}

.services .service-block.color-bg i, .services .service-block.color-bg h3, .services .service-block.color-bg p {
    color: #fff;
}

.services .service-block .service-icon {
    margin-bottom: 30px;
}

.services .service-block i {
    font-size: 75px;
    color: #28ABE3;
}

.services .service-block h3 {
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.services .service-block p {
    font-size: 14px;
    color: #666;
}

/*=================================================================
  Services section 2
==================================================================*/
.service-2 .service-item {
    border: none !important;
    margin-bottom: 30px;
    padding: 30px 0px;
    transition: all 0.3s ease 0s;
}

.service-2 .service-item i {
    font-size: 30px;
    display: inline-block;
    background: #28ABE3 none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
    width: 55px;
    transition: all 0.3s ease 0s;
}

/*=================================================================
  Our skills
==================================================================*/
.team-skills .progress-block {
    margin-top: 40px;
}

.team-skills .progress-block span {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
}

.team-skills .progress-block .progress {
    box-shadow: none;
    border-radius: 0;
    height: 10px;
}

.team-skills .progress-block .progress .progress-bar {
    background: #28ABE3;
    box-shadow: none;
}

.clients-logo-slider {
    margin-top: 50px;
}

/*=================================================================
  Step section
==================================================================*/
.development-steps .step {
    padding: 80px 20px;
}

.development-steps .step h4 {
    font-size: 20px;
    font-weight: 600;
}

.development-steps .step h4 i {
    font-size: 72px;
    font-weight: 500;
    margin-right: 10px;
}

.development-steps .step p {
    color: #cccccc;
    font-size: 14px;
    line-height: 22px;
}

.development-steps .step-1 {
    background-color: #f2f6f8;
}

.development-steps .step-1 h4 {
    color: #212121;
}

.development-steps .step-1 p {
    color: #838383;
}

.development-steps .step-2 {
    background-color: #28ABE3;
}

.development-steps .step-2 h4, .development-steps .step-2 p {
    color: #fff;
}

.development-steps .step-3 {
    background: #198dbf;
}

.development-steps .step-3 h4, .development-steps .step-3 p {
    color: #fff;
}

.development-steps .step-4 {
    background: #167da9;
}

.development-steps .step-4 h4, .development-steps .step-4 p {
    color: #fff;
}

/*=================================================================
  Our Team
  ==================================================================*/
.team {
    padding: 100px 0;
    background: #F6F6F6;
}

.team .team-member {
    background: #fff;
}

.team .team-member .member-content {
    padding: 25px 0;
}

.team .team-member .member-content h3 {
    font-size: 20px;
    margin: 0 0 5px;
    color: #333;
}

.team .team-member .member-content span {
    font-size: 14px;
    color: #555;
}

.team .team-member .member-content p {
    color: #777;
    margin-top: 10px;
    padding: 0 15px;
}

.team .member-photo {
    overflow: hidden;
    position: relative;
}

.team .member-photo:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.team .member-photo img {
    transition: all 0.6s ease 0s;
}

.team .member-photo .mask {
    background: rgba(40, 171, 227, 0.7);
    position: absolute;
    width: 100%;
    bottom: 0;
    top: auto;
    opacity: 0;
    filter: alpha(opacity=0);
    left: 0;
    right: 0;
    cursor: pointer;
    padding: 0;
    height: 80px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all .3s ease;
}

.team .member-photo .mask ul {
    text-align: center;
    position: relative;
    margin-top: 22px;
}

.team .member-photo .mask ul li {
    display: inline-block;
    margin-right: 7px;
}

.team .member-photo .mask ul li a {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
}

.team .member-photo .mask ul li a::hover {
    background-color: #6cb670;
    border: 1px solid transparent;
}

.team .member-photo:hover .mask {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

/*=================================================================
  Testimonial section
==================================================================*/
.testimonial {
    position: relative;
    padding-bottom: 0px;
}

.testimonial:before {
    content: "";
    display: block;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0;
}

.testimonial .item i {
    font-size: 60px;
    color: #fff;
    margin-bottom: 50px;
    display: inline-block;
}

.testimonial .item .client-details {
    padding-bottom: 30px;
}

.testimonial .item .client-details p {
    font-size: 17px;
    color: #fff;
    font-weight: 200;
    padding: 0 10%;
}

.testimonial .item .client-thumb img {
    display: inline-block;
    border-radius: 100%;
    width: 150px;
    height: auto;
}

/*=================================================================
  Latest Posts
==================================================================*/
.blog {
    padding-bottom: 110px;
    padding-top: 70px;
    background: #F6F6F6;
}

.post-item {
    background: #fff;
    margin-bottom: 20px;
}

.post-item .content {
    padding: 20px;
}

.post-item .content h3 a {
    color: #000;
}

.post-item .content p {
    color: #757575;
    font-size: 14px;
    margin: 10px 0;
}

.post-item .content .btn-main {
    padding: 12px 25px;
    margin: 15px 0;
}

/*=================================================================
  Single Blog Page
==================================================================*/
#blog-banner {
    padding-bottom: 100px;
    padding-top: 150px;
}

#blog-page {
    margin: 0 0 40px;
}

.post-meta {
    font-size: 13px;
    margin: 20px 0 0;
    padding: 0 20px 10px;
}

.post-meta a {
    color: #28ABE3;
}

.post-meta > span {
    color: #666;
    border-right: 1px solid #dedede;
    display: inline-block;
    font-size: 13px;
    margin: 10px 10px 0 0;
    padding-right: 10px;
}

.post-meta > span:last-child {
    border-right: 0;
}

.post-meta > span i {
    margin-right: 5px;
}

.post-excerpt {
    padding: 0 20px;
    margin-bottom: 60px;
}

.post-excerpt h3 a {
    color: #000;
}

.post-excerpt blockquote {
    line-height: 22px;
    margin: 20px 0;
    font-size: 16px;
}

.single-blog {
    background-color: #fff;
    margin-bottom: 50px;
    padding: 20px;
}

.blog-subtitle {
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.next-prev {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    margin: 20px 0;
    padding: 25px 0;
}

.next-prev a {
    color: #000;
}

.next-prev a:hover {
    color: #28ABE3;
}

.next-prev .prev-post i {
    margin-right: 10px;
}

.next-prev .next-post i {
    margin-left: 10px;
}

.social-profile ul li {
    margin: 0 10px 0 0;
    display: inline-block;
}

.social-profile ul li a {
    color: #4e595f;
    display: block;
    font-size: 16px;
}

.social-profile ul li a i:hover {
    color: #28ABE3;
}

.comments-section {
    margin-top: 35px;
}

.author-about {
    margin-top: 40px;
}

.post-author {
    margin-right: 20px;
}

.post-author > img {
    border: 1px solid #dedede;
    max-width: 120px;
    padding: 5px;
    width: 100%;
}

.comment-list ul {
    margin-top: 20px;
}

.comment-list ul li {
    margin-bottom: 20px;
}

.comment-wrap {
    border: 1px solid #dedede;
    border-radius: 1px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
}

.comment-wrap .author-avatar {
    margin-right: 10px;
}

.comment-wrap .media .media-heading {
    font-size: 14px;
    margin-bottom: 8px;
}

.comment-wrap .media .media-heading a {
    color: #28ABE3;
    font-size: 13px;
}

.comment-wrap .media .comment-meta {
    font-size: 12px;
    color: #888;
}

.comment-wrap .media p {
    margin-top: 15px;
}

.comment-reply-form {
    margin-top: 80px;
}

.comment-reply-form input, .comment-reply-form textarea {
    height: 35px;
    border-radius: 0;
    box-shadow: none;
}

.comment-reply-form input:focus, .comment-reply-form textarea:focus {
    box-shadow: none;
    border: 1px solid #28ABE3;
}

.comment-reply-form textarea, .comment-reply-form .btn-main {
    height: auto;
}

/*=================================================================
  Footer section
==================================================================*/
.top-footer {
    background-color: #222222;
    border-top: 1px solid #404040;
    padding: 100px 0 80px;
}

.top-footer h3 {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.top-footer p {
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    padding-right: 20px;
}

.top-footer li a {
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: color .3s;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Arial Nova", "Segoe UI", "Helvetica Neue", ".PingFang SC", "PingFang SC", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "Hiragino Sans GB", sans-serif;
    display: block;
}

.top-footer li a:hover {
    color: #28ABE3;
}

.footer-title {
    font-size: 16px;
    color: #FFFFFF !important;
    letter-spacing: 0;
    text-align: justify;
    line-height: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-content {
    font-size: 13px;
    color: #BDBDBD;
    letter-spacing: 0;
    text-align: justify;
    line-height: 30px;
}

.footer-bottom {
    text-align: center;
    background-color: #1b1b1b;
    border-top: 1px solid #2c2c2c;
    padding: 30px 0;
}

.footer-bottom h5 {
    font-size: 12px;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 3px;
}

.footer-bottom h6 {
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.footer-bottom a {
    color: #28ABE3;
}

.page-404 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
}

.page-404 h1 {
    font-size: 200px;
}

.anchor {
    display: block;
    height: 106px; /*same height as header*/
    margin-top: -106px; /*same height as header*/
    visibility: hidden;
}

/*============================================================
	For Small Desktop
==============================================================*/
@media (min-width: 700px) and (max-width: 1090px) {
    .navigation .navbar-toggle {
        border: 1px solid #fff;
    }

    .navigation .navbar-toggle span {
        background: #fff;
    }

    .navigation .navbar-nav > li > a {
        padding: 20px 9px;
    }

    .navigation.sticky-header .navbar-toggle {
        border: 1px solid #dedede;
    }

    .navigation.sticky-header .navbar-toggle span {
        background: #000;
    }

    .navigation.sticky-header .navbar-nav > li > a {
        padding: 16px 9px;
    }

    .navbar-brand h1 {
        width: 130px;
    }

    .navbar-brand img {
        width: 100%;
    }

    .counters-item:before {
        display: none;
    }
}

@media (min-width: 980px) and (max-width: 1150px) {
    /* parallax section */
    .parallax-section {
        background-position: center top !important;
    }

    /* home slider */
    #slitSlider .carousel-caption h2 {
        font-size: 60px;
    }

    /* about us */
    .feature-desc h3 {
        margin-top: 0;
    }

    /* our team */
    .team-mate {
        margin-bottom: 30px;
    }

    .mask ul {
        top: 85px;
    }

    .mask ul li {
        margin: 0 5px;
    }

    .team-mate > h4 {
        margin-bottom: 10px;
    }

    .team-mate img {
        margin: 0 auto;
    }

    .member-info ul li {
        margin-right: 10px;
    }

    /* testimonial */
    .client-info {
        width: 55%;
    }

    /* blog page */
    .tab-post-nav li a {
        padding: 15px 8px;
    }

    /* single blog page */
    .author-bio h5 {
        margin-left: 70px;
    }
}

/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
    .counters-item:before {
        display: none;
    }

    /* parallax section */
    .parallax-section {
        background-position: center top !important;
    }

    /* navigation */
    .navbar-inverse .navbar-nav li a {
        padding: 20px 10px;
    }

    /* about us */
    .wrap-about {
        margin: 0 0 75px;
    }

    .about-content {
        margin: 0 auto;
        width: 60%;
    }

    /* fun facts */
    #counter {
        padding-bottom: 50px;
    }

    .counters-item {
        margin-bottom: 30px;
    }

    /* our services */
    .service-block {
        margin: 0 auto 40px;
        width: 310px;
    }

    /* our team */
    .team-mate {
        margin: 0 auto 30px;
        width: 280px;
    }

    /* our skills */
    .skill-chart {
        margin: 0 auto 40px;
        width: 300px;
    }

    .skill-chart {
        margin: 0 auto 40px;
        width: 90%;
    }

    .skill-chart > h3 {
        margin: 15px 0;
    }

    /* pricing table */
    .pricing {
        margin: 0 auto 30px;
        width: 300px;
    }

    /* testimonial */
    .client-info {
        width: 75%;
    }

    /* latest posts */
    .note {
        margin-bottom: 30px;
    }

    /* blog page */
    .tab-post-nav li a {
        padding: 10px;
    }

    /* singla blog page */
    .author-social {
        margin-left: 0;
    }
}

/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
    .navigation.sticky-header .navbar-toggle {
        border: 1px solid #dedede;
    }

    .navigation.sticky-header .navbar-toggle span {
        background: #000;
    }

    .navigation.sticky-header .navbar-nav > li > a {
        padding: 8px 9px;
    }

    .navigation .navbar-toggle {
        border: 1px solid #fff;
    }

    .navigation .navbar-toggle span {
        background: #fff;
    }

    .counters-item:before {
        display: none;
    }

    .clients-logo-slider {
        text-align: center;
    }

    /* parallax section */
    .parallax-section {
        background-position: center top !important;
    }

    /* h1 font size home slider */
    h1 {
        font-size: 30px;
    }

    .carousel-caption img {
        width: 70%;
    }

    #slitSlider .carousel-caption h2 {
        font-size: 24px;
        letter-spacing: 0.5px;
        line-height: 35px;
        margin-bottom: 25px;
    }

    #slitSlider .carousel-caption h3 {
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 28px;
        margin-bottom: 25px;
    }

    #slitSlider .carousel-caption a {
        font-size: 14px;
    }

    #nav-dots {
        display: block;
    }

    #nav-arrows {
        display: none;
    }

    /* navigation */
    .navbar-fixed-top {
        padding-bottom: 10px;
    }

    .navbar-inverse .navbar-toggle,
    .navbar-inverse .navbar-toggle .icon-bar {
        border-color: #4e595f;
        border-radius: 0;
    }

    .navbar-inverse .navbar-toggle:hover {
        border-color: #ddd;
        border-radius: 0;
    }

    .navbar-inverse .navbar-toggle .icon-bar:hover {
        background-color: #ddd;
    }

    .navbar-collapse.in {
        overflow-y: inherit;
    }

    .navbar-brand {
        padding: 10px 0 10px 10px;
    }

    .navbar-toggle {
        margin-top: 22px;
    }

    .navbar-nav {
        margin: 0 -15px;
    }

    .navbar-inverse .navbar-nav li a {
        line-height: 45px;
        padding: 0;
        text-align: center;
        border-bottom: 1px solid transparent;
    }

    .wrap-about {
        margin: 0 auto 80px;
        width: 85%;
    }

    .feature-desc a {
        margin: 5px 5px 5px 0;
    }

    /* fun facts */
    /* services */
    #services .title {
        padding-bottom: 60px;
    }

    .service-block {
        margin: 0 auto 30px;
        width: 280px;
        position: relative;
        left: -8px;
    }

    /* our skills */
    .skill-chart {
        margin: 0 auto 40px;
        width: 280px;
    }

    /* our team */
    .team-mate {
        margin: 0 auto 31px;
        width: 280px;
    }

    .team-mate img {
        margin: 0 auto;
    }

    .member-info ul {
        text-align: center;
        margin-bottom: 10px;
    }

    /* pricing table */
    .pricing {
        margin: 0 auto 20px;
        width: 280px;
    }

    /* portfolio */
    .portfolio-filter ul li a {
        margin: 0 10px 10px 0;
        padding: 5px 10px;
    }

    /* testimonials */
    .sub-title h3 {
        font-size: 18px;
    }

    .client-info {
        width: 100%;
    }

    /* latest posts */
    #blog {
        padding-bottom: 0;
    }

    .note {
        margin-bottom: 30px;
    }

    .note .excerpt {
        padding: 0 20px 20px;
    }

    .all-post {
        margin: 20px 0 30px;
    }

    /* contact */
    .contact-info {
        margin: 0 0 30px;
    }

    #map-canvas {
        height: 250px;
    }

    /* footer */
    .social-icon ul li, .social-icon ul li:first-child {
        margin: 15px;
    }

    .social-icon ul li a {
        width: 50px;
        height: 50px;
    }

    .social-icon ul li a i {
        font-size: 24px;
        line-height: 50px;
    }

    .blog-title h1 {
        font-size: 28px;
    }

    /* blog page */
    #blog-page {
        margin: 0;
    }

    #blog-posts {
        margin: 0 0 40px;
    }

    .post-excerpt h3 {
        font-size: 20px;
    }

    .post-pagination ul li {
        margin: 0 10px 10px 0;
    }

    .tab-post-nav li a {
        padding: 8px 5px;
    }

    /* single blog page */
    .author-social {
        margin-left: 0;
    }

    .author-avatar {
        margin-right: 10px;
    }

    .anchor {
        display: block;
        height: 64px; /*same height as header*/
        margin-top: -64px; /*same height as header*/
        visibility: hidden;
    }

    .dongbin {
        font-size: 30px !important;
    }
}

/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .title h2 {
        font-size: 32px;
    }

    .counter .counter-title h2 {
        font-size: 35px;
    }

    /* navigation */
    .navigation .navbar-toggle {
        border: 1px solid #fff;
    }

    .navigation .navbar-toggle span {
        background: #fff;
    }

    .navbar-fixed-top {
        padding-bottom: 10px;
    }

    .navbar-brand {
        padding: 10px 0 10px 10px;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #6CB670;
        border-radius: 0;
    }

    .navbar-inverse .navbar-toggle:hover {
        border-color: #fff;
        border-radius: 0;
    }

    .navbar-collapse.in {
        overflow-y: inherit;
    }

    .navbar-toggle {
        margin-top: 22px;
    }

    .navbar-inverse .navbar-nav li a {
        line-height: 45px;
        padding: 0;
        text-align: center;
        border-bottom: 2px solid transparent;
    }

    /* about us */
    .wrap-about {
        margin: 0 auto 75px;
        width: 70%;
    }

    /* services */
    .service-block {
        margin: 0 auto 40px;
        width: 310px;
    }

    /* our team */
    .team-mate {
        margin: 0 auto 30px;
        width: 280px;
    }

    .team-mate img {
        margin: 0 auto;
    }

    /* portfolio */
    .og-grid li {
        width: 245px;
    }

    /* skills */
    .skill-chart {
        margin: 0 auto 40px;
        width: 300px;
    }

    /* pricing table */
    .pricing {
        margin: 0 auto 30px;
        width: 350px;
    }

    /* testimonials */
    .client-info {
        width: 74%;
    }

    /* latest posts */
    #blog {
        padding-bottom: 0;
    }

    .note {
        margin: 0 auto 30px;
        width: 75%;
    }

    /* contact */
    .contact-info {
        width: 100%;
    }

    /* blog page */
    .tab-post-nav li a {
        padding: 10px 15px;
    }

    .container a.case-logo {
        display: block;
        width: 200px;
        height: 122px;
        border: 1px solid #f0f0ff;
        text-align: center
    }
}

.case-case-one {
    background-color: white;
    border: 1px solid #EEEEEE;
    margin-top: 20px;
    height: 150px;
    padding: 0;
}

.case-case-two {
    margin-top: 50px;
    text-align: center;
}

/* about us */
.wrap-about {
    margin: 0 auto 75px;
    width: 70%;
}

/* services */
.service-block {
    margin: 0 auto 40px;
    width: 310px;
}

/* our team */
.team-mate {
    margin: 0 auto 30px;
    width: 280px;
}

.team-mate img {
    margin: 0 auto;
}

/* portfolio */
.og-grid li {
    width: 245px;
}

/* skills */
.skill-chart {
    margin: 0 auto 40px;
    width: 300px;
}

/* pricing table */
.pricing {
    margin: 0 auto 30px;
    width: 350px;
}

/* testimonials */
.client-info {
    width: 74%;
}

/* latest posts */
#blog {
    padding-bottom: 0;
}

.note {
    margin: 0 auto 30px;
    width: 75%;
}

/* contact */
.contact-info {
    width: 100%;
}

/* blog page */
.tab-post-nav li a {
    padding: 10px 15px;
}

.case-case-three {
    text-align: left;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

.case-case-p {
    font-size: 12px;
    margin-top: 10px;
    color: #333333;
    letter-spacing: 0;
    text-align: justify;
}

.content-wrap {
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    bottom: 0;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.content-wrap .entry-title {
    display: table;
    font-size: 110%;
    height: 100%;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
}

.edit-link {
    z-index: 2;
}

.featured-image {
    display: table-cell;
    position: relative;
    transition: opacity .25s ease-in-out, background .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out, background .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out, background .25s ease-in-out;
    z-index: 1;
    color: #fff;
    text-decoration: none;
    opacity: 0;
}

.featured-image:hover {
    opacity: 0.9;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}

.case-case-image {
    max-width: 200px;
    max-height: 52px;
}

.solution-title {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
    text-align: center;
    line-height: 33px;
}

.solution-context {
    font-size: 16px;
    color: #333333;
    line-height: 2;
}

.solution-span {
    font-weight: bold;
    color: white;
    background-color: #28ABE3;
    padding: 3px
}

.class_cover {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, .70);
    color: #FFFFFF;
    font-size: 23px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.class_outer {
    display: block;
    position: relative;
    overflow: hidden;
}

.footer-start-box{
    position: fixed;
    bottom: 26px !important;
    right: 22px !important;
    width: 354px !important;
    height: 120px !important;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(18,97,77,.32);
    background-image: linear-gradient(109deg,#12614d,#2f9377);
    color: #fff;
    cursor: pointer;
}

.footer-start-title{
    font-weight: 600;
}

.footer-start-text{
    color: white
}

.footer-github-text{
    position: absolute;
    bottom: 18px;
    right: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    z-index: 2;
}

.footer-start-close{
    position: absolute;
    top: 15px;
    right: 14px;
    cursor: pointer;
    z-index: 3;
    font-size: 16px
}
/*# sourceMappingURL=maps/style.css.map */
